.filterBtns{
    border: 1px solid rgb(207, 207, 207);
    color: rgb(156, 156, 156);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(54, 54, 54, 0.06) 0px 1px 2px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.filterBtnsRatingButtonAfterClick{
    border: 1px solid rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    box-shadow: rgba(54, 54, 54, 0.06) 0px 1px 2px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.filterBtns:hover {
    background-color: #f1f0f0;
}

/* Styles for the grid layout */
.food_card_container {
    width: calc(33.33% - 20px); /* 3 cards per row with some gap */
    margin-right: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }